#content{
    max-width: 1800px;
    margin: 0 auto;
    align-content: center;
}
header{
    display: grid;
    grid-template-columns: 150px auto;  
    background-color: #E29578; 
    margin-bottom: 20px;  
}
.logo{
    width: 80px;
}
#hero{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 10px;
    margin-top: -15px;
    margin-bottom: 15px;
}
#hero-box{
    grid-column: 1/7;
    grid-row: 1/3;
    z-index: -1;
}
#hero-image{
    width: 100%; 
    height: 50%;   
}    
#hero-message{
    padding: 20px;
    margin: 5px;
    grid-column: 2/4;
    grid-row: 1/2;
    color: #11270B;  
    font-size: 20px; 
    background-color: #FFDDD2;
    text-align: center;
    border-style: none;
     

} 
.button-box{
    color: white;
    background-color: #11270B;
    padding-bottom: 5px;
} 
.home-grid{
    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows: auto;
    margin: 20px auto;
    margin-top: -350px;
}
.card-image{
    grid-column: 1/5;
    box-sizing: border-box;
    width:100%;
    height: 100%;
}
#text{
    grid-column: 5/7;
    padding-left: 30px;
    font-size: 20px;
}
.contact{
    color: white;
}
.contact:link{
    color: white;
    margin: 0 auto;
    background-color: #006D77;
    text-decoration: none;
}
.contact:visited{
    text-decoration: none;
}

.contact:hover{
    background-color:#006D77;
    color:#E29578;
    text-decoration: none;
}

main section{
    text-align: center; 
}
footer{
  display: grid;  
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(3,1fr);
  background-color: #E29578;
  text-align: center;
  grid-gap: 20px;
}
.services{
    grid-column: 1/3;
    grid-row: 1/2;
}
.information{
    grid-column: 3/5;
    grid-row: 1/2;
}
.contact-me{
    grid-column: 5/7;
    grid-row: 1/2;
}
.social{
    grid-column: 5/7;
    grid-row: 2/3;
    padding: 25px 50px;
    justify-content: space-around;

}
footer h5{
    grid-column: 1/7;
    grid-row: 3/4;
    margin-top: -10px;
}
* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

/* Navbar links */
.topnav a {
 text-align: center;
 color: black;
 text-decoration: none;
 padding: 35px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #635C51;
  color: white;
}

/* Style the input container */
.topnav .login-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}
#hero-box2{
    margin: 20px auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;       
}
.image-one{
    grid-column: 1/2;
    grid-row: 1/2;
    transition: transform .5s;
    box-shadow: 5px 5px 10px pink;
    width: 100%;
}
.image-two{
    grid-column: 2/3;
    grid-row: 1/2;
    transition: transform .5s;
    box-shadow: 5px 5px 10px pink;
    width: 100%;
}
.image-one:hover{
    opacity: .5;
    transform: scale(1.1);
}
.home2-grid{
    margin-top: -230px;
}
.home2-title{
    text-align: center;
}
p{
    text-align: center;
    padding: 10px 10px;
    font: 20px 'Times New Roman', serif;
}
#final{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin: 20px auto;
}
.code-img{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
}
.final-msg{
    grid-column: 3/4;
    grid-row: 1/3;
    font-style: italic;
    margin: 20px;
    padding-top:50px;
    text-align: center;
}
#hero3{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}
#hero-box3{
    grid-column: 1/4;
    grid-row: 1/3;
    width: 100%;
    height: 50%;
     
}
#hero-message{
    grid-column: 1/4;
     
}
#hero-image{
    width: 100%;
    height: 50%;
}
 
.home3-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    margin: 10px auto;
    margin-top: -400px;
}
.home-image{
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
}
#services{
    grid-column: 2/3;
    grid-row: 1/3;
    justify-items: center;
}
h1, h2, h3, h4, h5{
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}


/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}